.font{
   
    font-family: "Poppins", sans-serif;
      
   
}
.font{
    
    font-family: "Pacifico", cursive;
    
}
.our1{
    margin-left: 600px;
    border-radius: 20px;
}
.service{
    margin-left: 870px;
    color: #0D5ACB;
    font-size: 18px;
}
.social-logo{
    font-size: 15px;
}
.social-logo-1{
    font-size: 25px;
}
   
  

